:root {
  --component-fontFamilies-button: aktiv-grotesk !important;
  --component-radius-button: 9999px !important;
  --global-fontFamilies-body: aktiv-grotesk !important;
  --global-fontFamilies-data: Monaco !important;
  --global-fontFamilies-display: Walsheim !important;
  --global-fontFamilies-heading: Walsheim !important;
  --global-fontWeights-heading: 700 !important;
}

$navbar-width: 64px;
$rounded-edges: 3px;


*:focus {
  outline: none;
}


@font-face {
  font-family: "aktiv-grotesk";
  src: url("c5.patreon.com/external/fonts/aktiv-grotesk/aktiv-grotesk-upright-variable-weight.woff2")
       format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "aktiv-grotesk";
  src: url("c5.patreon.com/external/fonts/aktiv-grotesk/aktiv-grotesk-italics-variable-weight.woff2")
       format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-weight: 100 900;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Walsheim";
  src: local("GT Walsheim"),
       url("c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold.woff2")
       format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Walsheim";
  src: local("GT Walsheim"),
       url("c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold-Oblique.woff2")
       format("woff2");
  font-style: oblique;
  font-weight: 700;
  font-display: swap;
}


// sidebar/navbar
// #main-app-navigation {
//   height: $navbar-width;
//   width: 100%;
//   nav {
//     flex-direction: row;
//     justify-content: space-between;
//     border-bottom: 1px solid rgb(229, 227, 221);

//     // logo
//     > div:nth-child(1) {
//       a > *,
//       svg {
//         height: 1.5rem;
//         width: 1.5rem;
//       }
//     }

//     // navigation
//     > div:nth-child(2) {
//       display: none;
//     }

//     // right menu
//     > div:nth-child(3) {
//       display: flex;

//       > * {
//         margin-right: 24px;
//       }

//       // messages icon
//       .pos-navbar-msg {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         svg {
//           width: 1.75rem;
//           height: 1.75rem;
//           fill: transparent;
//           stroke: #333;
//         }
//       }

//       // user icon
//       #account-menu-toggle {
//         cursor: unset;
//         background-color: unset;
//         > div:nth-child(1) {
//           display: block;
//         }
//         > div:nth-child(2) {
//           display: none;
//         }
//         > div > div {
//           background-color: unset !important;
//           padding: unset;

//           [src] {
//             width: 2rem;
//             height: 2rem;
//           }
//         }
//       }
//     }
//   }
// }


// dropdown menu
// #account-menu {
//   > [role=dialog] {
//     top: calc($navbar-width - 8px);
//     bottom: unset;
//     left: unset;
//     right: 10px;
//     // box-shadow: unset;
//     width: auto;
//     border-radius: 0;
//     // border: 1px solid rgb(229, 227, 221);
//     > div:not(.pos-dropdown) {
//       display: none;
//     }
//     .pos-dropdown {
//       a {
//         display: block;
//         padding: 0.9rem 1rem;
//         font-family: var(--global-fontFamilies-body);
//         font-size: var(--global-fontSizes-sm);
//         font-weight: 600;
//         text-decoration: none;
//         color: rgb(36, 30, 18);
//         &:hover {
//           background-color: rgb(245, 244, 242);
//         }
//       }
//     }
//   }
// }


// main part
body {
  background-color: var(--global-bg-base-default) !important;

  .reactWrapper > div:last-child {
    margin-left: unset;
    margin-top: $navbar-width;

    > div {
      width: unset;
    }
  }

  #renderPageContentWrapper > div > div {
    > *:nth-child(2) {
      // toolbar
      [data-pendo-guide="nav-nux:creator-toolbar"] {
        top: 120px;
      }

      // avatar
      > div:nth-last-child(2) {
        margin-top: -6.5rem;

        [src] {
          border: 5px solid #fff;
          height: 9rem;
          width: 9rem;
        }
      }

      [data-tag=is-creating] {
        font-size: var(--global-fontSizes-md) !important;
      }
    }

    [data-tag=select-membership] {
      [offset] > div > div > div {
        border-radius: $rounded-edges;
      }
    }

    [aria-labelledby=pageheader-title] {
      li a {
        font-size: var(--global-fontSizes-md);

        &[aria-current=page]::after {
          height: 2px;
          left: unset;
          width: 100%;
        }
      }
    }
  }
}





// posts
[data-tag=post-card] {
  > div > div {
    border-radius: $rounded-edges;

    > div {
      // post image
      > div:nth-child(1) {
        // smaller images for link previews (MEGA link image)
        > div > a img {
          height: 300px;
          object-fit: contain;
        }
      }

      // expand all posts by default
      [data-tag=post-content-collapse] {
        cursor: auto !important;

        > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
          height: unset !important;
          overflow: unset !important;
        }

        > div:nth-child(1) > div:nth-child(1),
        > div:nth-child(1) > div:nth-child(2) > div:nth-child(1),
        > div:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
