:root {
  --component-fontFamilies-button: aktiv-grotesk !important;
  --component-radius-button: 9999px !important;
  --global-fontFamilies-body: aktiv-grotesk !important;
  --global-fontFamilies-data: Monaco !important;
  --global-fontFamilies-display: Walsheim !important;
  --global-fontFamilies-heading: Walsheim !important;
  --global-fontWeights-heading: 700 !important;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: "aktiv-grotesk";
  src: url("c5.patreon.com/external/fonts/aktiv-grotesk/aktiv-grotesk-upright-variable-weight.woff2") format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("c5.patreon.com/external/fonts/aktiv-grotesk/aktiv-grotesk-italics-variable-weight.woff2") format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-weight: 100 900;
  font-style: oblique;
  font-display: swap;
}
@font-face {
  font-family: "Walsheim";
  src: local("GT Walsheim"), url("c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Walsheim";
  src: local("GT Walsheim"), url("c5.patreon.com/external/fonts/gt-walsheim/GT-Walsheim-Bold-Oblique.woff2") format("woff2");
  font-style: oblique;
  font-weight: 700;
  font-display: swap;
}
body {
  background-color: var(--global-bg-base-default) !important;
}
body .reactWrapper > div:last-child {
  margin-left: unset;
  margin-top: 64px;
}
body .reactWrapper > div:last-child > div {
  width: unset;
}
body #renderPageContentWrapper > div > div > *:nth-child(2) [data-pendo-guide="nav-nux:creator-toolbar"] {
  top: 120px;
}
body #renderPageContentWrapper > div > div > *:nth-child(2) > div:nth-last-child(2) {
  margin-top: -6.5rem;
}
body #renderPageContentWrapper > div > div > *:nth-child(2) > div:nth-last-child(2) [src] {
  border: 5px solid #fff;
  height: 9rem;
  width: 9rem;
}
body #renderPageContentWrapper > div > div > *:nth-child(2) [data-tag=is-creating] {
  font-size: var(--global-fontSizes-md) !important;
}
body #renderPageContentWrapper > div > div [data-tag=select-membership] [offset] > div > div > div {
  border-radius: 3px;
}
body #renderPageContentWrapper > div > div [aria-labelledby=pageheader-title] li a {
  font-size: var(--global-fontSizes-md);
}
body #renderPageContentWrapper > div > div [aria-labelledby=pageheader-title] li a[aria-current=page]::after {
  height: 2px;
  left: unset;
  width: 100%;
}

[data-tag=post-card] > div > div {
  border-radius: 3px;
}
[data-tag=post-card] > div > div > div > div:nth-child(1) > div > a img {
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
[data-tag=post-card] > div > div > div [data-tag=post-content-collapse] {
  cursor: auto !important;
}
[data-tag=post-card] > div > div > div [data-tag=post-content-collapse] > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  height: unset !important;
  overflow: unset !important;
}
[data-tag=post-card] > div > div > div [data-tag=post-content-collapse] > div:nth-child(1) > div:nth-child(1),
[data-tag=post-card] > div > div > div [data-tag=post-content-collapse] > div:nth-child(1) > div:nth-child(2) > div:nth-child(1),
[data-tag=post-card] > div > div > div [data-tag=post-content-collapse] > div:nth-child(2) {
  display: none;
}